html, body, #root, .createBody {
  height: 100%;
  background: -webkit-linear-gradient(185deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: -o-linear-gradient(185deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: -ms-linear-gradient(185deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: -moz-linear-gradient(185deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: linear-gradient(265deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: -webkit-linear-gradient(185deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: -o-linear-gradient(185deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: -ms-linear-gradient(185deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: -moz-linear-gradient(185deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  background: linear-gradient(265deg, rgb(251, 241, 231) 16%, rgb(251, 250, 255) 44%, rgb(221, 217, 240) 99%, rgb(253, 252, 255) 100%);
  
}
.createBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}





.createBody .navbar{
  /*position: sticky;*/
  width: 92.5%;
  height: 70px;
  top: 15px;
  margin-top: 15px;
  max-height:90px;
  background-color:transparent;
  border-radius:50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}





.createBody #logo{
  height: 60%;
  max-width:50px;
  justify-self: flex-start;
  display: block;
  margin-right: auto;
  margin-left: 20px;
}





.createBody .Login_button{
  user-select: none;
  height:70%;
  /*background-color: #eff0ec;*/
  border-radius:8px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 0 20px;*/
  padding: 0 20px; 
}





.createBody .Login_text{
  color: #1e2330;
  user-select: none;
  text-decoration: none;
  font-size: 0.7em;
  font-family: "Link Sans", "Arial Black";
  font-weight:500;
  letter-spacing:0.01em;
  line-height:1.5;

}

.createBody .hamburger{
  padding: 0 10px;
  margin-left: 5px;
  margin-right: 20px;
}

.createBody .main_head{
  width: 90%;
  max-height: 500px;/* A enlever plus tard*/
  min-height:0px;/* A enlever plus tard*/
  border-radius: 20px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.createBody .elements .main_head #qr_code_image{
  
  margin-top: 50px;

  

}



@font-face{
  font-display:swap;font-family:Link Sans;font-weight:200 900;src:url('https://website.linktr.ee/static/LinkSans-LinkSansVF-5ba82435cfe1454f76404182afdbf4fc.woff2') format("woff2-variations")
}

.createBody .main_head #main_title{
  margin-top: 50px;
  width: 100%;
  font-weight: 720;
  font-family: "Link Sans", "Arial Black", Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: -0.02em;
  line-height: 1.05;
  text-align: center;
  color: rgb(210, 232, 35);

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

}

.createBody .main_head #link_container{
  padding: 0 20px;
  height: 50px;
  display: flex;
  margin-top: 20px;
  border: 2px solid #52528e;
  border-radius: 15px;
  display: self;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  
}

.createBody .main_head #link_container #link{
  max-width: 80%;
  font-weight: 520;
  font-family: "Link Sans", "Arial Black", Arial, sans-serif;
  font-size: 0.85em;


  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  direction: rtl;
  
  


  display: flex;
  align-self: center;
  text-align: center;

}

.createBody .main_head #link_container #copy_button{
  display: flex;
  width: 80px;
  height: 90%;
  margin-right: -17px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: #533aed;
  border-width:0px;
  border:none;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: "Link Sans";
  color: #ffff;
  font-size: 0.8em;
  font-weight:400;
  letter-spacing:0.01em;
}




.createBody #paragraph{
  width: 100%;
  color: #000000;
  font-family: "Link Sans", "Arial Black", Arial, sans-serif;
  font-size:0.9em;
  font-weight:500;
  letter-spacing:-0.02em;
  line-height:1.5;
}

.createBody .form_elements{
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.createBody #form_div{
  width: 100%;
  height: 60px;
  border-radius: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;

}

.createBody #button{
  display: flex;
  width: 120px;
  height: 45px;
  border-radius: 40px;
  background-color: #533aed;
  border-width:0px;
  border:none;
  padding: 10px;
  margin-top:40px;
  margin-right: 8px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: "Link Sans";
  color: #ffff;
  font-size: 0.8em;
  font-weight:400;
  letter-spacing:0.01em;


}

.createBody #link_text{
  color: #676b5f;
  width: 110px;
  margin-left: 20px;
  font-family: "Link Sans";
  font-size: 1em;
  font-weight:400;
  letter-spacing:0.01em;
}

.createBody  #link_input{
  background-color:rgba(255, 255, 255, 0);
  color: #676b5f;
  width: 100%;
  padding: 0 20px;
  font-family: "Link Sans";
  font-size: 0.8em;
  font-weight:400;
  border-width:0px;
  border:none;
  letter-spacing:0.01em;
}

.createBody #link_input:focus {
  outline:none;
}
.createBody .img_header{
  width: 70%;
  margin-top: 60px;
  margin-bottom:60px;
}


